.card {
    display: inline-block;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: auto;
    width: 20vw;
    margin: 0px;
    border-radius: 1%;
   
    margin: 0px 5vw;
    transition: .5s;
    
}
.card:hover {

    background-color: rgba(255, 255, 255, 0.103);
}
.button_close {
    width: 5vw;
    margin: 0;
    background-color: rgba(255, 0, 0, 0.596);
    border: 0px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
    display: block;
    
}
.button_close:hover span{
    display: none;
}

.button_close:hover::before {
    content: "CLOSE";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.button_close:hover {
    background-color: rgba(255, 0, 0, 0.842);
    width: 100%;
} 

img {
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0px 1px 40px px #add8e6;
    transition: .3s;
    
}
img:hover {
    transform: scale(1.02,1.02);

    box-shadow: 0px 1px 40px 3px #2182d3;
}

h2 {

    text-shadow: 0 0 4px #070606, 0 0 3px #0c0a0a, 0 0 15px #FFF, 0 0 10px #ffe865fa, 0 0 3px #ffe865fa, 0 0 40px #ffe865fa, 0 0 55px #ffe865fa, 0 0 75px #ffe865fa;
    color: #ffffffe0;
    text-align: center;
    transition: .1s;

}
h2:first-child:hover {
    transform: scale(1.1,1.1);


}

